<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean  id="device" class="org.dedunu.spring.ioc.sample01.Device">
              <property name="powerButton" ref="powerButtonBean" />
              <property name="silentButton" ref="silentButtonBean" />
              <property name="lockButton" ref="lockButtonBean" />
       </bean>

       <bean id="powerButtonBean" class="org.dedunu.spring.ioc.sample01.Button">
              <property name="buttonText" value="Power Button" />
              <property name="toggled" value="false" />
       </bean>

       <bean id="silentButtonBean" class="org.dedunu.spring.ioc.sample01.Button">
              <property name="buttonText" value="Silent Button" />
              <property name="toggled" value="true" />
       </bean>

       <bean id="lockButtonBean" class="org.dedunu.spring.ioc.sample01.Button">
              <property name="buttonText" value="Lock Button" />
              <property name="toggled" value="false" />
       </bean>
</beans>